:root {
    --primary: hsl(265, 38%, 13%);
    --secondary: hsl(283, 6%, 45%);
    --tertiary: hsl(257, 15%, 91%);
    --light: hsl(270, 100%, 99%);
    --accent: hsl(278, 100%, 92%);
    --accent-alt: hsl(279, 100%, 97%);
    --accent-ui: hsl(284, 55%, 66%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: hsl(300, 100%, 99%);
        --secondary: hsl(280, 5%, 37%);
        --tertiary: hsl(270, 5%, 16%);
        --light: hsl(280, 5%, 12%);
        --accent: hsl(282, 25%, 40%);
        --accent-alt: hsl(278, 14%, 20%);
        --accent-ui: hsl(284, 55%, 66%);
    }
}
