:root {
    --primary: hsl(0, 0%, 20%);
    --secondary: hsl(125, 6%, 45%);
    --tertiary: hsl(125, 15%, 91%);
    --light: hsl(0, 0%, 98%);
    --accent: hsl(127, 11%, 48%);
    --accent-alt: hsl(125, 9%, 80%);
    --accent-ui: hsl(126, 18%, 36%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: hsl(0, 0%, 95%);
        --secondary: hsl(125, 5%, 37%);
        --tertiary: hsl(125, 5%, 16%);
        --light: hsl(0, 0%, 12%);
        --accent: hsl(125, 17%, 28%);
        --accent-alt: hsl(125, 17%, 14%);
        --accent-ui: hsl(126, 18%, 36%);
    }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: min(100% - 6rem,65ch);
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.content {
    animation: fadeIn ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
