{{ define "main" }}
<div>
    <article>
        <header>
            <div>{{ .Title }}</div>
        </header>
        {{- partial "prose.html" . -}}
    </article>
    <ul>
        {{- range where site.RegularPages "Type" "in" site.Params.mainSections }}
        <li>
            <div>
                <a href="{{ .Permalink }}">
                    <div>{{ .Title }}</div>
                </a>
                <div><time>{{ .Date | time.Format (":date_medium") }}</time></div>
            </div>
        </li>
        {{- end }}
    </ul>
</div>
{{ end }}